@using ScheduleSumdu.Web.Models.ViewModels;
@model ScheduleSumdu.Web.Models.ViewModels.HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="select-group">
    <p>Виберіть групу:</p>

    <form id="selectGroupForm" method="post" asp-controller="Home" asp-antiforgery="true">
        <input asp-for="SelectedGroupName" class="select-group-input" type="text" id="selectGroupInput" list="listGroups" autocomplete="off">
        <datalist id="listGroups">
            @{
                if (Model.ListGroups != null)
                {
                    foreach(var option in Model.ListGroups)
                    {
                        <option value="@option.Value"></option>  
                    }
                }
            }
        </datalist>
    </form>
</div>

<div class="schedule-border text-light text-center">
    <dev class="schedule">
        <div class="item">
            <p>Понеділок</p>
            <p>@Model.Week?.Days[0].Date</p>
        </div>
        <div class="item">
            <p>Вівторок</p>
            <p>@Model.Week?.Days[1].Date</p>
        </div>
        <div class="item">
            <p>Середа</p>
            <p>@Model.Week?.Days[2].Date</p>
        </div>
        <div class="item">
            <p>Четвер</p>
            <p>@Model.Week?.Days[3].Date</p>
        </div>
        <div class="item">
            <p>П'ятниця</p>
            <p>@Model.Week?.Days[4].Date</p>
        </div>
        <div class="item">
            <p>Субота</p>
            <p>@Model.Week?.Days[5].Date</p>
        </div>

        @{
            if (@Model.Week != null)
            {
                for (int i = 0; i < 8; i++)
                {
                    <div class="item-time">
                        <div class="time-container">
                            <div class="time-text">@Model.LessonTime[i]</div>
                            <div class="time-border"></div>
                        </div>
                    </div>
                    foreach (var day in @Model.Week.Days)
                    {
                        <div class="item">
                        @{
                            if (day.Lessons[i] != null)
                            {
                                <div class="lesson">
                                    @{
                                        if (day.Lessons[i].NAME_STUD == "лабораторне заняття")
                                        {
                                            <div class="rounded lesson-type practice">
                                                <p>Лаб</p>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="rounded lesson-type lecture">
                                                <p>Лекція</p>
                                            </div>
                                        }

                                        if (!string.IsNullOrWhiteSpace(day.Lessons[i].NAME_DISC))
                                        {
                                            <p class="lesson-name lesson-text">@day.Lessons[i].NAME_DISC</p>
                                        }

                                        if(!string.IsNullOrWhiteSpace(day.Lessons[i].NAME_FIO))
                                        {
                                            <div class="text-img-block">
                                                <img src="~/icons/proffesor.png" class="lesson-teacher-icon"/>
                                                <p class="lesson-text">@day.Lessons[i].NAME_FIO</p>
                                            </div>
                                        }
                                    }
                                </div>
                            }
                        }
                        </div>
                    }
                }
            }
        }

        @*<div class="text-img-block">
            <img src="~/icons/university.png" class="lesson-teacher-icon"/>
            <p class="lesson-room lesson-text">ТК-215</p>
        </div>*@
</div>

<script>
    const form = document.getElementById('selectGroupForm');

    const input = document.getElementById('selectGroupInput');

    input.addEventListener('change', function () {
        form.submit();
    });
</script>
